*{ margin: 5px; padding: 1px; 

}




#t1{
     font-family:sans-serif;
    color: rgb(0,0,0);
}

p.p1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: (0,0,0);
}


#t1{
     font-family:arial;
    color: #060702;
}

p.p1{
    font-family: sans-serif;
    color: #080803;
}



/* smartphone */  

@media screen (max-width: 480px) {
    
    
        grid-template-columns: fit-content(200px) 1fr;
        grid-template-rows:1fr auto;
        grid-template-areas: 2fr area;
    }

    /* tablet */  

@media screen (min-width: 481px) {
    
    
    grid-template-columns: fit-content(200px) 1fr;
    grid-template-rows:1fr auto;
    grid-template-areas: 2fr area;
}

/*Desktop*/  

@media screen (min-width: 769px) {
    
    
    grid-template-columns: fit-content(200px) 1fr;
    grid-template-rows:1fr auto;
    grid-template-areas: 2fr area;
}